/** Global *******************************************/
*{
	all: unset;
	font-family: "JetBrains Mono", "monospace";
	color: #151515;
}

/** General **/
.bar_class {
    background-color: #0f0f17;
    border-radius: 0px;
}
.module {
    margin: 0px 0px 0px 0px;
    border-radius: 0px;
}

.module-2{
	background: #fde3c0;
	color:#fff;
	border-radius: 10px;
}

/** tooltip!! **/
tooltip{
	background-color: #28325e;
	border-radius: 0px;
}
tooltip.background {
    font-size: 14;
    border-radius: 0px;
    color: #ffffff;
}

tooltip label {
    margin: 0px;
	padding: 5px 10px;
	border-radius: 0px;
	color:white;
}


/** Bar ***********************************/
.dockbox, .dockbox_h{
	background-color: #13181f;
	border:2px solid white;
	border-radius: 10px;
	box-shadow: none;
	color:#000;
	padding: 0;
}

.player_box{
	border-color: transparent;
	border-radius: 10px;
	box-shadow: none;
	color:#000;
	padding: 0;
	transition: all 0.5s;
}



.dockbox_h{
	background: rgba(39, 48, 73, 0.9);
	padding-bottom: 10px;
}
/** Weather ********************************************/
.weatherbox {
	margin : 0px 0px 0px -8px;
	padding-right: 10px;
}


.weathericon {
	font-family: monospace;
	background-size: 36px;	
	background-position: center;
	background-repeat: no-repeat;
	font-weight : normal;
}

.forecast_icon{
	background-size: 64px;	
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: -10px;
}

.weathertemp {
	font-size : 14px;
	font-family: monospace;
	font-weight : bold;
	color:white;
	margin : 0px 0px 0px 1px;
	padding: 0 0 0 0px;
}


.quoteText{
	font-size: 14px;
	font-weight: bold;
	color:white;
	margin : 0px 0px 0px 10px;
}

/** MUSIC *************************************************/

.song_cover_art {
	background-size: cover;	
	background-position: center;
	border-radius: 5px;
	margin: 5px;
}
.song_btn_play{
	margin-left: 10px;
	margin-right: 15;
	background-size: 27px;
	background-repeat: no-repeat;	
	background-position: center;
	min-height: 27px;
	min-width: 27px;
}

.song_title{
	padding-right: 10px;
	padding-left: 5px;
	font-size: 14px;
	border-right: 2px solid black;
}

.song_time_current, .song_time_length{
	font-size: 14px;
	font-weight: bold;
}

.song_time_length{
	margin-right: 20px;
}



/*Email*/

.email_icon{
	background-size: 30px;	
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 5px;
	margin: 0px 5px;
}

.email_text{
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	margin-left: -20px;
}


/*forecast popup*/

.box_fc{
	padding: 20px;
}

.box_fc .weathertemp{
	font-size: 40;
	color: #b3ccfa;
	margin-top: 20px;
}

.box_fc .forecast_icon{
	font-size: 40;
}

.box_pr, .box_hu{
	padding: 35px;
}

.box_pr{
	padding: 0px;
}

.box_hu_pr{
	margin-bottom: 25px;
}

.box_pr .pr_icon{
	background-size: 46px;	
	background-position: center;
	background-repeat: no-repeat;
}

.box_pr .pr_text{
	color: rgb(216, 222, 252);
	font-size: 16;
	font-weight: bold;
}

.quote_text{
	color: rgb(216, 222, 252);
	font-size: 16;
	padding: 10px;
}

.date_text{
	font-size: 18;
	font-weight: bold;
	color: white;
	margin-top: 8px;
}

.box_quote{
	padding: 0 10px;
}


/*Player info*/

.player_box{
	padding: 0px 0px;
}

.player_name{
	font-size: 12px;
	opacity: 0.8;
	font-weight: bold;
	transition: all 0.3s ease;
}

.player_info{
	padding-top: 10px;
	padding-left: 8px;
	padding-right: 15px;
	padding-bottom: 25px;
}

.player_art{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 0px 5px 5px 0px;
}

.player_title{
	padding-top: 3px;
	font-size: 16px;
	color: white;
	font-weight: bold;
}

.player_artist{
	padding-top: 3px;
	font-size: 13px;
	color: rgb(163, 206, 255);
	opacity: 0.9;
}

.player_d .song_time_current{
	padding-top: 10px;
	font-size: 15;
	margin-bottom: -20px;
}

.box_bar{
	padding-top: 10px;
	margin-bottom: 0px;
}

progressbar *{
	background: #e5e5eb;
	border-radius: 50px;
}

progressbar > trough{
	border-radius: 50px;
	min-width:100px;
	color: #fde3c0;
	background: #adadad;
}

